.container-top{
	width: 100%;
	height: 230px;
	position: absolute;
	top: 20px;
	left: 0px;
	text-align: center;
	z-index: 1;
}

.container-menu{
	width: 100%;
	height: 35px;
	position: absolute;
	top: 230px;
	left: 0px;
	text-align: center;
	line-height: 35px;
	word-spacing: 100px;
	background-color: #AA0000;
	z-index: 1;
}

.container-text{
	width: 50%;
	height: 600px;
	position: absolute;
	top: 265px;
	left: 0px;
	z-index: 1;
	margin: 20px;
}

.container-image{
	width: 50%;
	height: 600px;
	position: absolute;
	top: 265px;
	left: 52%;
	text-align: center;
	z-index: 1;
}

.container-footer{
	width: 100%;
	height: 80px;
	position: absolute;
	top: 865px;
	left: 0px;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #AA0000;
	z-index: 1;
}

.lkmenu{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-family: sans-serif;
}

.lkmenu:hover{
	color: #ffffff;
	text-decoration: underline overline;
	text-decoration-color: #FFFFFF;
}

.footer-text{
	position: absolute;
	top: 10px;
	left: 30%;
}

.copyright{
	position: absolute;
	top: 47px;
	left: 43%;
	font-size: 12px;

}

.ident{
	font-family: sans-serif;
	position: absolute;
	left: 120px;
	text-decoration: none;
	color: #000000;
}

.text{
	font-size: 18px;
	font-family: sans-serif;
	text-indent: 30px;
}

.selo{
	position: absolute;
	top: 45px;
	left: 93%;
}

h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;
	text-indent: 20px;
	color: #AA0000;
}